absl-py==0.7.1
astor==0.7.1
certifi==2019.11.28
chardet==3.0.4
cloudpickle==1.2.2
conda==4.3.16
cycler==0.10.0
dask==2.6.0
decorator==4.4.1
gast==0.2.2
grpcio==1.20.0
h5py==2.9.0
idna==2.8
jsonschema==2.6.0
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
llvmlite==0.30.0
Markdown==3.1
matplotlib==2.2.3
mp19-project4-skeleton==0.2
networkx==2.4
numba==0.39.0
numexpr==2.7.0
numpy==1.14.5
numpy-quaternion==2018.7.5.21.55.13
opencv-python==3.4.3.18
packaging==19.0
pandas==0.24.2
Pillow==6.2.1
protobuf==3.7.1
pycosat==0.6.3
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
PyWavelets==1.1.1
requests==2.22.0
ruamel.yaml==0.16.5
ruamel.yaml.clib==0.2.0
scikit-image==0.14.0
scikit-learn==0.19.2
scikit-video==1.1.10
scipy==1.1.0
six==1.12.0
svgwrite==1.1.12
tables==3.4.4
tensorboard==1.12.2
tensorflow-gpu==1.12.0
termcolor==1.1.0
toolz==0.10.0
ujson==1.35
urllib3==1.25.7
Werkzeug==0.15.2
